.section-container .wizard-subsection-container:last-child .wizard-subsection-container-divider {
    display: none;
}

.section-container .wizard-subsection-container {
    margin-bottom: 2rem;
}

.section-container .wizard-subsection-container:last-child {
    margin-bottom: 0;
}